body{
    height: 100%;
    width: 100%;
    background-color: #121212;
    margin: 0%;
    transition: 0.2s;
}
*:focus {
    outline: none;
  }
.header{
    height: 12vh;
    width: 100%;
    background-color: #1a1a1a;
    margin: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 0px;
}
.header p{
    position:relative;
    color: #ecf2f8;
    text-align: center;
    font-size: 5vh;
    letter-spacing: 3px;
    font-family: 'Teko', sans-serif;
    margin: 0px;
    padding-top: 2vh;
}
.config{
    height: 40vh;
    width: 70%;
    background-color: #1a1a1a;
    margin:0px;
    width: 60%;
    border: 3px solid #b026ff;
    border-radius: 12px;
    margin-top: 6vh;
    margin-left: 20%;
    text-align:  center;
    overflow: hidden;
}
.config input, button{
    color: #000000;
    background-color: #ecf2f8;
    font-size: 15px;
    border: 0px;
    border-radius: 12px;
    text-align:center;
}
.login{
    margin-top: 4vh;
    width: 40%;
    height: 20px;
}

.pass {
    margin-top: 4vh;
    width: 40%;
    height: 20px;
    
}
.recomend{
    opacity: 0;
    position: absolute;
    height: 20vh;
    width: 8vw;
    min-width: 120px;
    margin:0px;
    margin-top: -5%;
    margin-left: 43%;
    text-align:  center;
    font-size: 1em;
    color: #ecf2f8;
    font-weight: 4;
    transition: 0.8s;
}
.range:hover + .recomend{
opacity: 1;
}
.div-display{
    height: 7vh;
    width: 12vw;
    background-color: #1a1a1a;
    margin:0px;
    border: 3px solid #b026ff;
    border-radius: 12px;
    margin-top: 2vh;
    margin-left: 40%;
    text-align:  center;
    overflow: hidden;
}
span{
    position: relative;
    font-size: 3em;
    color: #ecf2f8;
    font-weight: 40;
    margin: 2px;
}

#rangeValue {
    text-align: center;
   
} 

.range {
    width: 20vw;
    height: 2vh;
    -webkit-appearance: none;
    background: #121212;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px #000000;
    margin-top: 2vh;
   
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #b026ff;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #b026ff;
}
.run{
    margin-top: 4vh;
    width: 40%;
    height: 4vh;
}

.run:focus{
    background-color: #b026ff;
    transition: 0.5s;
}
.info{
    height: 40vh;
    width: 70%;
    background-color: #1a1a1a;
    margin:0px;
    width: 60%;
    border: 3px solid #b026ff;
    border-radius: 12px;
    margin-top: 6vh;
    margin-left: 20%;
    text-align:  center;
    overflow: hidden;
}
