body{
    height: 100%;
    width: 100%;
    background-color: #121212;
    margin: 0%;
}
.side-bar{
    height: 100%;
    width: 10%;
    position: fixed;
    background-color: #1a1a1a;
    margin: 0px;
    border-radius: 12px;
}
